.red {
  background-color: red !important;
}
.blue {
  background-color: blue !important;
}
.green {
  background-color: green;

}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}

body {
  background-color: grey;
}
.grey {
  background-color: grey;
}
.silver{
  background-color: silver;
}
.white {
  background-color: white;
}
h1 {
  color: red
}
