.red {
  background-color: red;
}
.blue {
  background-color: blue !important;
}
.green {
  background-color: green;

}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}

body {
  background-color: grey;
}

h1 {
  color: red
}
